In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('dark_background')

In [16]:
df = pd.read_csv("database.csv")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column                                                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                                                             --------------  -----
 0   000002,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,Yes,Male,43,White,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI  5 non-null      object
dtypes: object(1)
memory usage: 168.0+ bytes

  000002,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,Yes,Male,43,White,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
0  000003,AK00101,Anchorage,Municipal Police,Anch...
1  000004,AK00101,Anchorage,Municipal Police,Anch...
2  000005,AK00101,Anchorage,Municipal Police,Anch...

In [18]:
df.columns

Index(['000002,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,Yes,Male,43,White,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI'], dtype='object')